<div class="container h-100" id="bg-gradient">
  <div class="d-flex justify-content-center h-100" >
    <div class="user_card">
      <h2>Sign up</h2>

      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <%= image_tag "logo.png", :class => "style_image" %>
        </div>
      </div>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, {class:"form-control", placeholder:"Enter email"} %>
          </div>

          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, {class:"form-control", placeholder:"Enter name"} %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, {class:"form-control", placeholder:"Enter password"} %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, {class:"form-control", placeholder:"Confirm password"} %>
          </div>


          <div class="actions">
            <%= f.submit "Sign up", class:"btn btn-danger" %>
          </div>
        <% end %>

      <%= render "devise/shared/links" %>
      </div>
  </div>
</div>
