<div class="container h100" style="text-align:center;">
  <div class="pin-back" style="border-top-left-radius:10px;border-top-right-radius:10px;background-color:white;padding:50px;padding-bottom:300px;">
  <div class="pin-base" style="border-radius:15px;max-height:500px;">
    <div class="pin-photo">
      <% if @pin.image.attached? %>
      <%= image_tag(@pin.image, :class => "image_show" ) %>
      <% end %>
    </div>

    <hr>
    <div class="pin-info">
      <h2><%= @pin.title %></h2>
      <p><%= @pin.description %></p>
    </div>

    <hr>
    <div class="info">
      <p>
        <strong>Author:</strong>
        <%= @pin.user.name || 'Anonimen avtor'%>
      </p>
    </div>


  </div>
  <hr>

</div>
<div class="comments" style="border-bottom-left-radius:10px;border-bottom-right-radius:10px;background-color:white;padding:20px;padding-bottom:100px;">
  <%= commontator_thread(@pin) %>
</div>
<%= display_show_pin_links(@pin) %>

</div>
