
<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @pin.picture %>
</p>

<p>
  <strong>Author:</strong>
  <%= @pin.user.email %>
</p>

<%= display_show_pin_links(@pin) %>
