<h3><%= @user.name %></h3>

<% if current_user == @user %>
  <%= link_to "Settings", edit_user_registration_path %>
<% end %>
<hr>

<h1>My Boards</h1>
<%= link_to 'New board', new_board_path %>
<div id="boards" class="transitions-enabled infinite-scroll centered clearfix">

  <% @user.boards.each do |board| %>
    <div class="box panel panel-default">
      <h2 class="board-link">
        <%= link_to board.name, board %>
        <% if board.user == current_user %>
          <div>
            <%= link_to 'Edit', edit_board_path(board) %> |
            <%= link_to 'Delete', board, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </h2>

    </div>
  <% end %>
</div>


<h1>My Pins</h1>
<div id="pins" class="transitions-enabled infinite-scroll centered clearfix">

  <% @user.pins.each do |pin| %>
    <div class="box panel panel-default">

      <% if pin.image.attached? %>
        <%= link_to (image_tag(pin.image)), pin %>
      <% else %>
      <h2 class="pin-link">
        <%= link_to pin.title, pin %>
      </h2>
      <% end %>


    </div>
  <% end %>
</div>
