<!DOCTYPE html>
<html>
  <head>
    <title>RubyPinterest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar sticky-top navbar-light bg-light">
      <div class="container h-100">
        <%= link_to (image_tag "logo.png", :class => "style_image_small" ), root_path %>
        <div class="d-flex justify-content-between h-100">
          <%= form_tag pins_path, :method => "get" do %>
            <div class="searchbar">
              <%= text_field_tag :search, params[:search], class:"search_input" %>
              <a class="search_icon">
                <i class="fas fa-search">
                  <%= submit_tag(" ", :title => nil) %>
                </i>
              </a>
              <!-- <input class="search_input" type="text" name="search" placeholder="Search..."> -->
              <!-- <a href="#" class="search_icon"></a> -->
            </div>
          <% end %>
        </div>
        <%= display_session_links %>
      </div>
    </nav>

    <p class="notice" style="color:rgb(37, 173, 55);font-size:16px;margin:0 auto;"><%= notice %></p>
    <p class="alert" style="color:rgb(214, 62, 62);font-size:16px;margin:0 auto;"><%= alert %></p>
    <%= yield %>
  </body>

</html>
